# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
ENV/

# PyCharm project files
.idea/

# VSCode project files
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/
*.manifest
*.spec

# Install logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# Celery task queue
celerybeat-schedule
celerybeat.pid

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Sensitive files
.env
.env.*

# macOS file
.DS_Store